:root {
    --brand: #01b5fb;
    --sub: #6ac754;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
 /* Path */
.banner-area {
  position: relative;
  min-height: 300px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/image-2/slide-4.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 58px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .banner-title {
    font-size: 32px;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-heading {
  text-align: center;
}

.breadcrumb {
  padding: 0;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.breadcrumb li a,
.breadcrumb .breadcrumb-item,
.breadcrumb li a:focus {
  color: #fff !important;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.heading_container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container-products h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading_container-products h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #f1db25;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading_container-products.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container-products.heading_center h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.table-container {
  max-width: 100%;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are shared between cells */
}
th, td {
  padding: 16px;
  text-align: center;
  border: 1px solid #ddd; /* Adds border around each cell */
}
th {
  background-color: var(--brand);
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
td {
  background-color: #ffffff;
  font-size: 1em;
}
tr:nth-child(even) td {
  background-color: #f9f9f9; /* Adds a different background color for even rows */
}
tr:hover td {
  background-color: #e2e2e2; /* Changes background on hover for better visibility */
}

/* @media (max-width: 991px) {
  th, td {
      padding: 10px;
      font-size: 0.7em;
  }
}
@media (max-width: 767px) {
  th, td {
      padding: 5px;
      font-size: 0.5em;
  }
}
@media (max-width: 460px) {
  th, td {
      padding: auto;
      font-size: 0.4em;
  }
} */

@media (max-width: 600px) {
  .activities-title h4{
    font-size: 18px;
  }
  .section-title::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 50%;
    left: -35px;
    margin-top: -1px;
    background: var(--brand);
  }
  
  .section-title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 50%;
    right: -35px;
    margin-top: -1px;
    background: var(--brand);
  }
}
@media (max-width: 390px) {
  .table-container{
    overflow-x: scroll;
  }
}
@media (max-width: 400px) {
  .activities-title h4{
    font-size: 16px;
  }
}
.anas{
    color: rgb(252, 254, 255);
}
.blog-img img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
}

@media (max-width:767px) {
  .blog-img img {
    max-width: 100%;
    height: 100%;
}
}

.same-height {
    height: 500px; /* Set your desired height */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fills the container */
}
.same-height1 {
    height: 350px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
    width: 100%; /* Ensures responsiveness */
}

/*Mission*/
.mission .mv{
 
  background-color: var(--brand);
  padding: 30px 30px 10px 30px;
  /* margin-top: 1px; */
}

.mission .mv1{
  border-right: 5px solid white;
}
@media (max-width: 991px){
  .mission .mv1{
    border-right: 0px;
    border-bottom: 5px solid white;
  }
}